accelerate==1.10.1
beir==2.1.0
comet_ml==3.47.0
datasets==2.20.0
faiss_cpu==1.8.0.post1
ir_datasets==0.5.11
kagglehub==0.3.13
lxml==6.0.0
nltk==3.9.1
numpy==2.3.2
pandas==2.3.2
pypdfium2==4.30.0
pyserini==0.44.0
python-dotenv==1.1.1
pytrec_eval==0.5
pytrec_eval_terrier==0.5.6
Requests==2.32.5
torch==2.6.0
tqdm==4.67.1
tqdm==4.66.4
transformers==4.55.4
wget==3.2
wikipedia_api==0.8.1
